  <template>
    <mdc-layout-app>
        <mdc-toolbar slot="toolbar" fixed>
            <mdc-toolbar-row>
            <mdc-toolbar-section align-start >
                <mdc-toolbar-menu-icon event="toggle-drawer"></mdc-toolbar-menu-icon>
                <mdc-toolbar-title>Turf</mdc-toolbar-title>
            </mdc-toolbar-section>
            </mdc-toolbar-row>
        </mdc-toolbar>
        <mdc-drawer slot="drawer" toggle-on="toggle-drawer">
            <mdc-drawer-list>
                <mdc-drawer-item :to="{ name: 'home' }" start-icon="home">Home</mdc-drawer-item>
                <mdc-drawer-item v-if="!$auth.check()" :to="{ name: 'login' }" start-icon="account_circle">Login</mdc-drawer-item>
                <mdc-drawer-item v-if="!$auth.check()" :to="{ name: 'register' }" start-icon="account_circle">Register</mdc-drawer-item>
                <mdc-drawer-item v-if="$auth.check()" :to="{ name: 'register' }" start-icon="account_circle">dash</mdc-drawer-item>
            </mdc-drawer-list>
        </mdc-drawer>
        <main class="content">
            <router-view></router-view>
        </main>
    </mdc-layout-app>
  </template>