<template>
    <mdc-layout-grid>
        <mdc-layout-cell>

            <mdc-card>
                <mdc-card-header title="Login" >
                </mdc-card-header>
                <mdc-card-text>
                    <form autocomplete="off" @submit.prevent="login" method="post">
                        <div>
                            <mdc-textfield type="email" id="email" label="Email" placeholder="user@example.com" v-model="email" required/>
                        </div>
                        <div>
                            <mdc-textfield type="password" id="password" label="Password" v-model="password" required/>
                        </div>
                        <div>
                            <mdc-button type="submit">Submit</mdc-button>
                        </div>

                    </form>
                </mdc-card-text>
            </mdc-card>
        </mdc-layout-cell>
    </mdc-layout-grid>

</template>

<script>
    export default {
        data(){
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            login(){
                var app = this
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                    },
                    error: function () {
                    },
                    rememberMe: true,
                    redirect: '/dashboard',
                    fetchUser: true,
                });
            },
        }
    }
</script>
